html, body {
    background-color: #fff;
    color: #000;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
    scroll-behavior: smooth;
}
.bg_002 {
    background-image: url('../img/img_002.jpg');
    background-size: cover;
}
.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    left: 120px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}
.w_400 {
  width: 400px;
}
.mh_70{
    max-height: 70px;;
}
.fs_50{
    font-size: 50pt;
}
#toast_container {
    position: fixed;
    min-height: 200px;
    right: 0;
    z-index: 2000;
}
.toast{
    /* position: absolute;  */
    /* top: 20;  */
    right: 30px;
    width: 350px;
}
.comment_box{
    height: 200px;
    border-top: solid 1px #f3f3f3;
}
.cursor_pointer{
    cursor: pointer;
}
#side_nav{
    top: 56px; 
    border-top-right-radius: 10px; 
    min-height: 90vh; 
    position: fixed; 
    height: 350px; 
    overflow: scroll;
}
.collapse.post{
    max-height: 300px;
}